APP_NAME=lineoa-miniapp
APP_PORT=8080

SERVICE_DB_HOST=localhost
SERVICE_DB_PORT=3306
SERVICE_DB_USER=appuser
SERVICE_DB_PASS=password
SERVICE_DB_NAME=lineoa_miniapp

EXCEL_FILE_PATH=./data/registrations_export_20260529_165557.xlsx
MENTAL_HEALTH_EXCEL_PATH=./data/เลขบัตรประชาชน ปี 1_69 สุขภาพจิต.xlsx
